#firstRow {
  display: flex;
  gap: 1rem;
}

#item {
  background-color: var(--background-color);
  opacity: 0.8;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 4px solid var(--border-color);
  width: 80%;
  border-radius: 15px;
}
