.item {
  background-color: var(--background-color);
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border: 4px solid var(--border-color);
  width: 80%;
  border-radius: 15px;
  min-width: 333px;
}

.tag {
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: 2px 2px 6px #000;
}

.high {
  color: #ed2938;
  text-shadow: 2px 2px 25px #000;
}

.medium {
  color: #ff8c01;
}

.low {
  color: #ffe733;
}

.removeBtn {
  background-color: var(--delete-color);
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.5rem;
  height: 2.5rem;
}
.removeBtn:hover {
  cursor: pointer;
}

.removeBtnDiv {
  display: flex;
  justify-content: right;
  align-items: end;
}

.title {
  text-transform: capitalize;
}
