.eventform {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  margin-bottom: 32px;
}

.eventform div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.eventform label {
  font-size: 12px;
  color: #666;
}

.eventform input {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.eventform button {
  background:#537310;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
}


