.page {
  min-height: 100vh;
  width: 100%;
  background-color: #66c4d9;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 80%;
  padding: 40px 20px;
}

.headerH1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

.headerText {
  text-align: center;
  margin-bottom: 32px;
  color: #000000;
}

.navButtons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.navButtons button {
  background-color: #6b8e23;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
}

.navButtons button:hover {
  opacity: 0.9;
}

.auth {
  display: flex;
  justify-content: end;
}

.contentContainer {
  display: flex;
  gap: 1rem;
}

.content {
  min-width: 333px;
}
