.repContainer {
  display: flex;
  gap: 5px;
}

.btn {
  padding: 0.2rem 0.4rem;
  width: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-weight: bold;
}

.resetBtn {
  width: 4rem;
  padding: 0.4rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--delete-color);
}
