.eventitem {
  background: white;
  padding: 16px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #66C4D9;
  border: 4px solid var(--border-color)
}

.grey {
  opacity: 0.5;
}

.eventiteminfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.eventitem button {
  border: none;
  background: transparent;
  cursor: pointer;
  color:#537310;
  font-size: 13px;
}
