.eventitem {
  background: white;
  padding: 16px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #66C4D9;
  border: 4px solid var(--border-color)
}

.grey {
  opacity: 0.5;
}

.eventiteminfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.editbutton {
  border: none;
  background: transparent;
  cursor: pointer;
  background-color:#537310;
  font-size: 13px;
  border: 4px solid var(--border-color);
  border-radius: 8px;
}

.deletebutton {
  background-color: red;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.buttoncontainer {
  display: flex;
  gap: 8px;
  
}