* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}

:root {
  --border-color: #1b778c;
  --background-color: #66c4d9;
  --button-color: #537310;
  --forground-color: #f2ebc9;
  --text-color: #000000;
  --delete-color: #e60101;
  /* dont know if we will use #A0EAF2 */
}
