#background {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#forground {
  background-color: var(--background-color);
  padding: 5rem;
  width: 40%;
  border: 2px solid var(--border-color);
  border-radius: 15px;
}

#btnDiv {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: var(--button-color);
  padding: 0.4rem 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

#closeBtn {
  background-color: var(--delete-color);
}
